{% extends 'main/base.html' %}
{% load static %}

{% block title %}О компании{% endblock %}

{% block content %}
<section class="u-clearfix u-image u-valign-middle u-section-2" id="sec-f0a5" data-image-width="1980"
         data-image-height="1321">
    <div class="u-clearfix u-layout-wrap u-layout-wrap-1">
        <div class="u-layout">
            <div class="u-layout-row">
                <div class="u-container-style u-image u-layout-cell u-size-30-lg u-size-30-xl u-size-60-md u-size-60-sm u-size-60-xs u-image-1"
                     data-image-width="1357" data-image-height="1080">
                    <div class="u-container-layout u-valign-middle u-container-layout-1"></div>
                </div>
                <div class="u-align-left u-container-align-left u-container-style u-layout-cell u-shape-rectangle u-size-30-lg u-size-30-xl u-size-60-md u-size-60-sm u-size-60-xs u-layout-cell-2">
                    <div class="u-container-layout u-valign-middle u-container-layout-2">
                        <h2 class="u-align-left u-text u-text-2"> О компании</h2>
                        <p class="u-align-left u-text u-text-4">
                            "MultiStat – это компания, специализирующаяся на развитии и предоставлении сервиса
                            мультиканальной аналитики. Наша цель - помочь предприятиям и бизнесам получить глубокое
                            понимание о производительности и результативности их онлайн и офлайн каналов маркетинга.
                            <br>
                            Мы предлагаем передовые инструменты и технологии, позволяющие собирать, анализировать и
                            интерпретировать данные из различных источников. Наш сервис мультиканальной аналитики
                            помогает нашим клиентам принимать обоснованные стратегические решения, оптимизировать свои
                            маркетинговые усилия и повышать эффективность своего бизнеса.
                            <br>
                            Мы стремимся быть лидерами в области аналитики, предоставляя надежные инструменты и
                            консультационную поддержку, которые помогут клиентам расширять свои границы, улучшать
                            производительность и достигать новых высот в своем бизнесе."
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}