{% extends 'main/base.html' %}
{% load static %}

{% block title %}Контакты{% endblock %}

{% block content %}
<section class="u-clearfix u-image u-valign-middle u-section-2" id="sec-f0a5" data-image-width="1980"
         data-image-height="1321">
    <div class="u-clearfix u-layout-wrap u-layout-wrap-1">
        <div class="u-layout">
            <div class="u-layout-row">
                <div class="u-container-style u-image u-layout-cell u-size-30-lg u-size-30-xl u-size-60-md u-size-60-sm u-size-60-xs u-image-1"
                     data-image-width="1357" data-image-height="1080">
                    <div class="u-container-layout u-valign-middle u-container-layout-1"></div>
                </div>
                <div class="u-align-left u-container-align-left u-container-style u-layout-cell u-shape-rectangle u-size-30-lg u-size-30-xl u-size-60-md u-size-60-sm u-size-60-xs u-layout-cell-2">
                    <div class="u-container-layout u-valign-middle u-container-layout-2">
                        <h2 class="u-align-left u-text u-text-2"> Контакты</h2>
                        <p class="u-align-left u-text u-text-4">
                            <table style="border-collapse: collapse; width: 100%;">
    <tr>
        <th style="border: 1px solid #dddddd; text-align: left; padding: 8px; background-color: #f2f2f2;" colspan="2">Адреса</th>
    </tr>
    <tr>
        <td style="border: 1px solid #dddddd; text-align: left; padding: 8px;">город Москва, ул. Садовая, д 15/2</td>
    </tr>
    <tr>
        <td style="border: 1px solid #dddddd; text-align: left; padding: 8px;">город Санкт Петербург, ул. Судовая, д 35</td>
    </tr>
    <tr>
        <th style="border: 1px solid #dddddd; text-align: left; padding: 8px; background-color: #f2f2f2;" colspan="2">Телефон</th>
    </tr>
    <tr>
        <td style="border: 1px solid #dddddd; text-align: left; padding: 8px;"><a href="tel:88002145667">88002145667</a></td>
    </tr>
    <tr>
        <td style="border: 1px solid #dddddd; text-align: left; padding: 8px;"><a href="tel:89876665412">89876665412</a></td>
    </tr>
    <tr>
        <td style="border: 1px solid #dddddd; text-align: left; padding: 8px;"><a href="tel:82136665412">82136665412</a></td>
    </tr>
    <tr>
        <th style="border: 1px solid #dddddd; text-align: left; padding: 8px; background-color: #f2f2f2;" colspan="2">Почта</th>
    </tr>
    <tr>
        <td style="border: 1px solid #dddddd; text-align: left; padding: 8px;"><a href="mailto:multistat@compane.com">multistat@compane.com</a></td>
    </tr>
    <tr>
        <td style="border: 1px solid #dddddd; text-align: left; padding: 8px;"><a href="mailto:multistat@marketing.com">multistat@marketing.com</a></td>
    </tr>
    <tr>
        <td style="border: 1px solid #dddddd; text-align: left; padding: 8px;"><a href="mailto:multistat@dev.com">multistat@dev.com</a></td>
    </tr>
</table>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}