{% extends 'main/base.html' %}
{% load static %}

{% block title %}
Аналитика {{profile.username}}
{% endblock %}
{% block style %}
<style>
    #main {
        min-height: 400px;
    }
    table {
        width: 100%;
        margin-bottom: 20px;
        border: 5px solid BlueViolet;
        border-top: 5px solid BlueViolet;
        border-bottom: 3px solid BlueViolet;
        border-collapse: collapse;
        outline: 3px solid BlueViolet;
        font-size: 15px;
        background: #fff!important;
        }
    table th {
        font-weight: bold;
        padding: 7px;
        background: BlueViolet;
        color: white;
        border: none;
        text-align: left;
        font-size: 15px;
        border-top: 3px solid #fff;
        border-bottom: 3px solid BlueViolet;
    }
    table td {
        padding: 7px;
        border: none;
        border-top: 3px solid #fff;
        border-bottom: 3px solid #fff;
        font-size: 15px;
    }
    table tbody tr:nth-child(even){
        background: #f8f8f8!important;
    }
</style>
{% endblock %}

{% block content %}
<div id="main" style="margin: 100px">
    <div>
        <div class="col-md-6">
            <table class="table">
                <thead>
                <tr>
                    <th>Визиты</th>
                    <th>Заявки</th>
                    <th>Доход</th>
                    <th>Расход</th>
                    <th>Итог</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>150</td>
                    <td>12</td>
                    <td>67439</td>
                    <td>45667</td>
                    <td>12000</td>
                </tr>
                <tr>
                    <td>150</td>
                    <td>12</td>
                    <td>67439</td>
                    <td>45667</td>
                    <td>12000</td>
                </tr>
                <tr>
                    <td>150</td>
                    <td>12</td>
                    <td>67439</td>
                    <td>45667</td>
                    <td>12000</td>
                </tr>
                <tr>
                    <td>150</td>
                    <td>12</td>
                    <td>67439</td>
                    <td>45667</td>
                    <td>12000</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


{% endblock %}