{% extends 'main/base.html' %}
{% load static %}
{% load mathfilters %}

{% block title %}
SEO Отчеты
{% endblock %}
{% block style %}
<style>
    h2 {
        text-align: center;
    }
    #main {
        min-height: 400px;
    }
    table {
        width: 100%;
        margin-bottom: 20px;
        border: 5px solid BlueViolet;
        border-top: 5px solid BlueViolet;
        border-bottom: 3px solid BlueViolet;
        border-collapse: collapse;
        outline: 3px solid BlueViolet;
        font-size: 15px;
        background: #fff!important;
        }
    table th {
        font-weight: bold;
        padding: 7px;
        background: BlueViolet;
        color: white;
        border: 1px solid #dddddd;
        text-align: left;
        font-size: 15px;
        border-top: 3px solid #fff;
        border-bottom: 3px solid BlueViolet;
    }
    table td {
        padding: 7px;
        border: 1px solid #dddddd;
        border-top: 3px solid #fff;
        border-bottom: 3px solid #fff;
        font-size: 15px;
    }
    tr:hover {
        background-color:Violet;
    }
    #span {
        margin: 6px;
        padding: 10px;
        background-color: BlueViolet;
        color: white;
        font-weight: bold;
        border-radius: 5px;
        width: 200px;
        height: 100px;
    }
    #span:hover {
        background-color: DarkOrange;
        cursor: pointer;
    }
    .reports {
        margin: 6px;
        padding: 10px;
        background-color: Grey;
        color: white;
        font-weight: bold;
        border-radius: 5px;
        width: 200px;
        height: 100px;
    }
    .reports:hover {
        background-color: DarkOrange;
        cursor: pointer;
        color: white;
        font-size: 105%;
    }

</style>
{% endblock %}

{% block content %}

<p style="text-align:center; padding-top: 15px;">
    <a href="{% url 'saa:seo_report' 1 %}" class="reports">SEO каналы</a>
    <a href="{% url 'saa:ads_report' 1 %}" class="reports">Рекламные кабинеты</a>
    <a href="{% url 'saa:other_ads_report' 1 %}" class="reports">Другие каналы</a>
    <a href="{% url 'saa:dates' %}" class="reports">Календарь выгрузок</a>
</p>

<div id="main" style="margin: 100px;">
    <h2>SEO аналитика</h2>
    <br>
    <div style="text-align: center">
        {% for page in pages %}
        <a href="{% url 'saa:seo_report' page.0 %}" id="span">{{page.1}}</a>
        {% endfor %}
    </div>
    <br>
    <div>
        <div class="col-md-6">
            <table class="table">
                <thead>
                <tr>
                    <th>Канал</th>
                    <th>Визиты</th>
                    <th>Показы</th>
                    <th>CTR</th>
                    <th>Средняя позиция</th>
                    <th>Конверсия</th>
                    <th>Заявки</th>
                    <th>Дата</th>
                </tr>
                </thead>
                <tbody>
                {% for d in data %}
                <tr>
                    <td style="color: black; font-weight: bold">{{ d.title }}</td>
                    <td>{{ d.visits }}</td>
                    <td>{{ d.impressions }}</td>
                    <td>{{ d.ctr }}</td>
                    <td>{{ d.avg_position }}</td>
                    <td>{{ d.convert }}</td>
                    <td>{{ d.transactions }}</td>
                    <td>{{ d.created }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>


{% endblock %}